<p>Stavka Racuna</p>
<div *ngIf="ocena">

  <h2>{{ocena.racunId }} Details</h2>
  <div><span>id: </span>{{ocena.id}}</div>
  <div><span>predmet: </span>{{ocena.racunId}}</div>
  <div>
    <label>racunId:
      <input [(ngModel)]="ocena.racunId" placeholder="racunId"/>
    </label><br/>
    <label>artikalId:
      <input [(ngModel)]="ocena.artikalId" placeholder="artikalId"/>
    </label><br/>
    <label>cena:
      <input [(ngModel)]="ocena.cena" placeholder="cena"/>
    </label>

    <label>Kolicina:
      <input [(ngModel)]="ocena.kolicina" placeholder="kolicina"/>
    </label>
  </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>
  
</div>