<p>Datum-detail</p>
<div *ngIf="racun">

  <h2>{{racun.datumRacuna | uppercase}} Details</h2>
  <div><span>id: </span>{{racun.id}}</div>
  
  <div>
   <br/>
    <label>DatumRacuna:
      <input [(ngModel)]="racun.datumRacuna" placeholder="datumRacuna"/>
    </label>
  </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>
  
</div>