<h2>Racun</h2>
<div>
  <label>Racun:
    <input #studentIndeks />
  </label>
  <button (click)="add(studentIndeks.value); studentIndeks.value=''">
  
    add
  </button>
</div>



<ul class="student">
  <li *ngFor="let student of studenti">
    <a routerLink="/detailll/{{student.id}}">
    <span class="badge">{{student.id}}</span>{{student.datumRacuna}}
    </a>
    <button class="delete" title="delete student" (click)="delete(student)">x</button>
  </li>
</ul>