<h2>Stavka Racun</h2>
<div>
  <label>Stavka:
    <input #ocenaStudentId />
  </label>
  <button (click)="add(ocenaStudentId.value); ocenaStudentId.value=''">
  
    add
  </button>
</div>



<ul class="ocena">
  <li *ngFor="let ocena of ocene">
    <a routerLink="/detaill/{{ocena.id}}">
    <span class="badge">{{ocena.id}}</span> {{ocena.racunId}} {{ocena.artikalId}} {{ocena.cena}}
    </a>
    <button class="delete" title="delete Artikal" (click)="delete(ocena)">x</button>
  </li>
</ul>