<div *ngIf="zadatak">

  <h2>{{zadatak.naziv | uppercase}} Details</h2>
  <div><span>id: </span>{{zadatak.id}}</div>
  <div><span>Artikal: </span>{{zadatak.naziv}}</div>
  <div>
    <label>naziv:
      <input [(ngModel)]="zadatak.naziv" placeholder="naziv"/>
    </label><br/>
    <label>cena:
      <input [(ngModel)]="zadatak.cena" placeholder="cena"/>
    </label>
  </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>
  
</div>