<h2>Artikli</h2>
<div>
  <label>Artikal:
    <input #zadatakOblast />
  </label>
  <button (click)="add(zadatakOblast.value); zadatakOblast.value=''">
  
    add
  </button>
</div>



<ul class="zadatak">
  <li *ngFor="let zadatak of zadaci">
    <a routerLink="/detail/{{zadatak.id}}">
    <span class="badge">{{zadatak.id}}</span> {{zadatak.naziv}} {{zadatak.cena}}
    </a>
    <button class="delete" title="delete zadatak" (click)="delete(zadatak)">x</button>
  </li>
</ul>